<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'external_entity_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="external_entity-company_name-<%%VALUE(id)%%>" class="external_entity-company_name "><%%SELECT%%><%%VALUE(company_name)%%><%%ENDSELECT%%></td>
		<td id="external_entity-company_class-<%%VALUE(id)%%>" class="external_entity-company_class "><%%SELECT%%><%%VALUE(company_calss)%%><%%ENDSELECT%%></td>
		<td id="external_entity-email-<%%VALUE(id)%%>" class="external_entity-email "><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="external_entity-primary_email-<%%VALUE(id)%%>" class="external_entity-primary_email "><a href="mailto:<%%VALUE(primary_email)%%>" title="<%%VALUE(primary_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="external_entity-alternate_email-<%%VALUE(id)%%>" class="external_entity-alternate_email "><a href="mailto:<%%VALUE(alternate_email)%%>" title="<%%VALUE(alternate_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="external_entity-phone-<%%VALUE(id)%%>" class="external_entity-phone "><%%SELECT%%><%%VALUE(phone)%%><%%ENDSELECT%%></td>
		<td id="external_entity-country-<%%VALUE(id)%%>" class="external_entity-country "><%%SELECT%%><%%VALUE(country)%%><%%ENDSELECT%%></td>
		<td id="external_entity-street-<%%VALUE(id)%%>" class="external_entity-street "><%%SELECT%%><%%VALUE(street)%%><%%ENDSELECT%%></td>
		<td id="external_entity-city-<%%VALUE(id)%%>" class="external_entity-city "><%%SELECT%%><%%VALUE(city)%%><%%ENDSELECT%%></td>
		<td id="external_entity-zip-<%%VALUE(id)%%>" class="external_entity-zip text-right"><%%SELECT%%><%%VALUE(zip)%%><%%ENDSELECT%%></td>
		<td id="external_entity-comments-<%%VALUE(id)%%>" class="external_entity-comments "><%%SELECT%%><%%VALUE(comments)%%><%%ENDSELECT%%></td>
		
