<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'pirl_dashboard_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="pirl_dashboard-dashboard-<%%VALUE(id)%%>" class="pirl_dashboard-dashboard "><%%SELECT%%><%%VALUE(dashboard)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-category-<%%VALUE(id)%%>" class="pirl_dashboard-category "><%%SELECT%%><%%VALUE(category)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-external_entity_name-<%%VALUE(id)%%>" class="pirl_dashboard-external_entity_name "><%%SELECT%%><%%VALUE(external_entity_name)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-engagement_nature-<%%VALUE(id)%%>" class="pirl_dashboard-engagement_nature "><%%SELECT%%><%%VALUE(engagement_nature)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-engagement-<%%VALUE(id)%%>" class="pirl_dashboard-engagement "><%%SELECT%%><%%VALUE(engagement)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-external_contact_name-<%%VALUE(id)%%>" class="pirl_dashboard-external_contact_name text-center"><%%SELECT%%><%%VALUE(external_contact_name)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-thread-<%%VALUE(id)%%>" class="pirl_dashboard-thread text-center"><%%SELECT%%><%%VALUE(thread)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-thread_description-<%%VALUE(id)%%>" class="pirl_dashboard-thread_description text-center"><%%SELECT%%><%%VALUE(thread_description)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-start_date-<%%VALUE(id)%%>" class="pirl_dashboard-start_date "><%%SELECT%%><%%VALUE(start_date)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-end_date-<%%VALUE(id)%%>" class="pirl_dashboard-end_date "><%%SELECT%%><%%VALUE(end_date)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-country-<%%VALUE(id)%%>" class="pirl_dashboard-country "><%%SELECT%%><%%VALUE(country)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-internal_contact_name-<%%VALUE(id)%%>" class="pirl_dashboard-internal_contact_name text-right"><%%SELECT%%><%%VALUE(internal_contact_name)%%><%%ENDSELECT%%></td>
		<td id="pirl_dashboard-usefull_info-<%%VALUE(id)%%>" class="pirl_dashboard-usefull_info "><%%SELECT%%><%%VALUE(usefull_info)%%><%%ENDSELECT%%></td>
		
