<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="pirl_dashboard-dashboard-<%%VALUE(id)%%>" class=""><%%VALUE(dashboard)%%></td>
		<td id="pirl_dashboard-category-<%%VALUE(id)%%>" class=""><%%VALUE(category)%%></td>
		<td id="pirl_dashboard-external_entity_name-<%%VALUE(id)%%>" class=""><%%VALUE(external_entity_name)%%></td>
		<td id="pirl_dashboard-engagement_nature-<%%VALUE(id)%%>" class=""><%%VALUE(engagement_nature)%%></td>
		<td id="pirl_dashboard-engagement-<%%VALUE(id)%%>" class=""><%%VALUE(engagement)%%></td>
		<td id="pirl_dashboard-external_contact_name-<%%VALUE(id)%%>" class="text-center"><%%VALUE(external_contact_name)%%></td>
		<td id="pirl_dashboard-thread-<%%VALUE(id)%%>" class=""><%%VALUE(thread)%%></td>
		<td id="pirl_dashboard-thread_description-<%%VALUE(id)%%>" class=""><%%VALUE(thread_description)%%></td>
		<td id="pirl_dashboard-thread_status-<%%VALUE(id)%%>" class=""><%%VALUE(thread_status)%%></td>
		<td id="pirl_dashboard-start_date-<%%VALUE(id)%%>" class=""><%%VALUE(start_date)%%></td>
		<td id="pirl_dashboard-end_date-<%%VALUE(id)%%>" class=""><%%VALUE(end_date)%%></td>

		<td id="pirl_dashboard-country-<%%VALUE(id)%%>" class="text-right"><%%VALUE(country)%%></td>
		<td id="pirl_dashboard-internal_contact_name-<%%VALUE(id)%%>" class="text-right"><%%VALUE(internal_contact_name)%%></td>
		<td id="pirl_dashboard-usefull_info-<%%VALUE(id)%%>" class=""><%%VALUE(usefull_info)%%></td>

